{% extends 'base.html' %}
{% block content %}

      {% csrf_token %}
      <input type="hidden" name="idcheckyn" id="idcheckyn" value="N" >
      <div class="container mt-5">
    
        <div class="mb-3 mt-3">
          <label for="title" class="form-label">사용자아이디:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="중복체크" name="mem_id"  id="mem_id">
            <button class="btn btn-success" type="button" id="btnIdCheck">중복체크</button>
          </div>
        </div>

        <div class="mb-3 mt-3">
          <label for="mem_password" class="form-label">패드워드:</label>
          <input type="text" class="form-control" id="mem_password" placeholder="Enter password" name="mem_password" required>
        </div>
        
        <div class="mb-3 mt-3">
          <label for="password2" class="form-label">패드워드확인:</label>
          <input type="text" class="form-control" id="password2" placeholder="Enter password" name="password2" required>
        </div>

        <div class="mb-3 mt-3">
          <label for="mem_name" class="form-label">사용자이름:</label>
          <input type="text" class="form-control" id="mem_name" placeholder="Enter username" name="mem_name" required>
        </div>


      
                      
          <div>회원유형</div>
          <label name="mem_type">개인회원</label>
          <input type="radio" id='mem_type'name="mem_type" value="1" />
          <label name="mem_type">사장님회원</label>
          <input type="radio" id="mem_type" name="mem_type" value="2" />
          
          <!-- <label>
            <span>사장님회원</span>
            <input type="radio" name="contact" value="2" />
          </label> -->
        


        <div class="mb-3 mt-3">
          <label for="text" class="form-label">회원나이:</label>
          <input type="number" class="form-control" id="mem_age" placeholder="Enter email" name="mem_age" required>
        </div>

        <div class="mb-3 mt-3">
          <label for="mem_name" class="form-label">회원이름:</label>
          <input type="mem_name" class="form-control" id="mem_name" placeholder="Enter phone" name="mem_name" required>
        </div>
             
      </div>

    <div class="container mt-5" style="text-align:right"> 
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btnWrite">등록</button>
        </div>+
    </div>


<script>
function goPage(pg)
{
  //자바스크립트로 페이지 이동 - get방식으로 간단히 이동할때 
  location.href="/board/list2/"+pg;

  //이게 아닐경우에는  form태그 참조를 가져와서 사용한다 
}

//이 html문서가 모두 메모리에 로딩되면 이부분이 호출된다. 
$(document).ready( ()=>{
    $("#btnIdCheck").click( ()=>{
      console.log("****************");
      csrf = $("input[type=hidden][name=csrfmiddlewaretoken]").val();
      console.log( csrf );
      $.ajax({
        url:"/member/idcheck",
        data:{"userid":$("#userid").val(), "csrfmiddlewaretoken":csrf}, 
        type:"post",
        dataType:"json"
      })
      .done( (res)=>{
          console.log( res );
          if( res.result=='success')
          {
            alert("사용가능한 아이디입니다");
            $("#idcheckyn").val("Y");
            $("#userid").prop("readonly", true); //읽기전용 
            //disabled(서버로 정보를 보내지 않는다), readonly(서버로 정보를 전송한다 ) 
          }
          else
          {
            alert("이미 사용중인 아이디입니다");
          }
      })
      .fail((res, error, status)=>{
        console.log(status);
      })
    });

    $("#btnWrite").click(()=>{
      csrf = $("input[type=hidden][name=csrfmiddlewaretoken]").val();
      console.log( csrf );
      $.ajax({
        url:"/member/save/",
        data:{
            "mem_id":$("#mem_id").val(), 
            "csrfmiddlewaretoken":csrf,
            "mem_password":$("#mem_password").val(),
            "mem_google_id":$("#mem_google_id").val(),
            "mem_naver_id":$("#mem_naver_id").val(),
            "mem_type":$("#mem_type").val(),
            "mem_age":$("#mem_age").val(),
            "mem_name":$("#mem_name").val(),
            "mem_wdate":$("#mem_wdate").val(),
            "mem_update":$("#mem_update").val()
          }, 
        type:"post",
        dataType:"json"
      })
      .done( (res)=>{
          if( res.result=="success")
          {
            alert("등록성공");
          }
          else 
          {
            alert("등록실패");
          }
      })
      .fail( (res, error, status)=>{
          console.log(status)
      })
    });
}) 
</script>


{%endblock%}