{% extends 'base.html' %}
{% block content %}

        <h1>resInfo.res_name</h1>

        <div class="container mt-5">
            <table class="table">
                <colgroup>
                    <col width="%"/>
                    <col width="12"/>
                    <col width="*"/>
                    <col width="8%"/>
                    <col width="8%"/>
                </colgroup>
                <thead class="table-secondary">
                <tr>
                    <th>위치</th>
                    <th>전화번호</th>
                    <th>음식점 소개</th>
                    <th>평점</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{resInfo.res_locate}}</td>
                        <td>{{resInfo.res_phone}}</td>
                        <td>{{resInfo.res_content}}</td>
                        <td>{{resInfo.res_score}}</td>
                        <td>{{resInfo.res_hit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-5">
            <table class="table">
                <colgroup>
                    <col width="8%"/>
                    <col width="*"/>
                    <col width="12%"/>
                    <col width="12%"/>
                    <col width="8%"/>
                </colgroup>
                <thead class="table-secondary">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                    {% for resItem in res_list %}
                    <tr>
                        <td>{{resItem.res_seq}}</td>
                        <td><a href="/board/index/{{resItem.res_seq}}/{{resItem.mem_seq}}">{{resItem.res_name}}</a></td>
                        <td>{{resItem.mem_name}}</td>
                        <td>{{resItem.res_wdate}}</td>
                        <td>{{resItem.res_hit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>