{% extends 'base.html' %}
{% block contents %}  


        <table class="eDetail">
          
        <div>
            <tbody>
                <tr>
                    <h1 style="text-align: center; margin-top: 50px;">{{eduInfo.edu_name}}</h1>
                </tr>
                <tr>
                  <th>작성자</th>
                  <td>{{eduReList.mem_id}}</td>
                  <th>작성일</th>
                  <td>{{eduInfo.edu_item_wdate}}</td>
                  <th>조회수</th>
                  <td>{{eduInfo.edu_hit}}</td></br>
                  <th>위치</th>
                  <td>{{eduInfo.edu_locate}}</td>
                  <th>가격</th>
                  <td colspan="5">{{eduList.edu_item_price}}</td>
                </tr>
                <tr>
                  
                  <td colspan="5">{{eduList.edu_item_content|linebreaks}}</td>
                  <td colspan="5">{{eduList.edu_item_pic|linebreaks}}</td>
                  <!-- 이미지 데이터나 소개 -->
                  
                </tr>
               
            </tbody>

          
        </table>
    </div>
    
    
    <table>
          {% for review in eduReList %}
            <tr>
            <th>작성자</th>
            <td>{{review.mem_id}}</td>
            </tr>
            <tr>
            <th>작성일</th>
            <td>{{review.edu_review_wdate}}</td>
            </tr>
            <tr>
            <td colspan="5">{{review.edu_review_content}}</td>
            </tr>
          {% endfor %}
    </table>
            <!-- 리뷰 페이징: 자바스크립트로 다음 페이지가 보이게?(class name에 붙여서) -->
    
    <div class="container p-5 my-5 border">
        
        <input type="text" class="edu_review_title" placeholder="한줄평">
        <th>별점</th>
            <td>
                <select name="score">
                    <option value="1">1점</option>
                    <option value="2">2점</option>
                    <option value="3">3점</option>
                    <option value="4">4점</option>
                    <option value="5">5점</option>
                </select></br>
            </td><textarea class="form-control" rows="5" id="edu_review_content" name="review"></textarea>
        <input type="submit" class="btnReview" value="리뷰 등록">
    

    </div>
    
    <div class = "container mt-5" style = "text-align: right">    
          <button type="button" class="btn btn-primary bg-secondary btn-outline-dark text-bg-dark" id="btnList">목록</button>
      </div>
          

<script>
    
  function goReview(pg)
  {
    
    location.href="/edu/index/"+pg;


  }
$(document).ready( () => {
  $("#btnReview").click(() => {
    
    // $("#myform").prop("action", "/edu/write");
    $("#myform").prop("method", "post");
    $("#myform").submit();
  });
})
</script>

{% endblock %}