<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    메인 
    {%if request.session.userid == None %}
        <a href="/member/logon">로그온</a>
    {%else%}
        {{request.session.userid}}
        {{request.session.username}}
        {{request.session.email}}
        <a href="/member/logout_proc">로그아웃</a>
    {%endif%}
</body>
</html>